<div class="container offset-3">
  <div class="row">
    <div class="col-5">
      <form [formGroup]="signupForm" (ngSubmit)="onsubmit()">
        <div class="mt-3">
          <label for="userid">UserId</label>
          <input
            formControlName="userid"
            type="number"
            class="form-control"
            required
            placeholder="UserId"/>
          <div
            *ngIf="
              fromControl('userid').invalid &&
              (fromControl('userid').dirty || fromControl('userid').touched)
            "
            class="mt-2 text-danger"
          >
            <div *ngIf="fromControl('userid').errors?.['required']">
              userid is required.
            </div>

            <div *ngIf="fromControl('userid').errors?.['maxlength']">
              userid max langth 6
            </div>

            <div *ngIf="fromControl('userid').errors?.['minlength']">
              userid min langth 4
            </div>
          </div>
        </div>
        <div class="mt-3">
          <label for="password">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="password"
            required
            placeholder="Password"
          />
          <div
            *ngIf="
              fromControl('password').invalid &&
              (fromControl('password').dirty || fromControl('password').touched)
            "
            class="mt-2 text-danger"
          >
            <div *ngIf="fromControl('password').errors?.['required']">
              password is required.
            </div>
            <div *ngIf="fromControl('password').errors?.['maxlength']">
              Password max langth 12
            </div>
            <div *ngIf="fromControl('password').errors?.['minlength']">
              Password min langth 5
            </div>
          </div>
        </div>
        <div class="mt-3">
          <label for="name">Name</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="Name"
            id="name"
          />
          <div
            *ngIf="
              fromControl('name').invalid &&
              (fromControl('name').dirty || fromControl('name').touched)
            "
            class="mt-2 text-danger"
          >
            <div *ngIf="fromControl('name').errors?.['required']">
              Name is required
            </div>
            <div *ngIf="fromControl('name').errors?.['maxlength']">
              Name Max Length 15
            </div>
            <div *ngIf="fromControl('name').errors?.['pattern']">
              Name should be alphabets.
            </div>

            <div *ngIf="fromControl('name').errors?.['forbidden']">
              Admin is not allowed as username
            </div>
            <!-- {{ fromControl('name').errors | json }} -->
          </div>
        </div>

        <div class="mt-3">
          <label for="age">Age</label>
          <input
            formControlName="age"
            type="number"
            class="form-control"
            placeholder="age"
            id="age"
          />
          <div
            *ngIf="
              fromControl('age').invalid &&
              (fromControl('age').dirty || fromControl('age').touched)
            "
            class="mt-2 text-danger"
          >
            <div *ngIf="fromControl('age').errors?.['required']">
              Age is required
            </div>
          </div>
        </div>

        <div class="mt-3">
          <label for="registrationdate">Registration Date</label>
          <input
            formControlName="registrationdate"
            formControlName="registrationdate"
            type="datetime"
            class="form-control"
            placeholder="Registration Date"
            id="registrationdate"
          />
          <div
            *ngIf="
              fromControl('registrationdate').invalid &&
              (fromControl('registrationdate').dirty ||
                fromControl('registrationdate').touched)
            "
            class="mt-2 text-danger"
          >
            <div *ngIf="fromControl('registrationdate').errors?.['required']">
              Registrationdate is required
            </div>

            <div *ngIf="fromControl('registrationdate').errors?.['pattern']">
              Date should be dd/mm/yyyy
            </div>
            
            
            <!-- {{ fromControl('registrationdate').errors | json }} -->
          </div>
        </div>

        <div class="mt-3">
          <label for="address">Address</label>
          <input
            formControlName="address"
            type="text"
            class="form-control"
            placeholder="Address"
            id="address"
          />
          <div
            *ngIf="
              fromControl('address').invalid &&
              (fromControl('address').dirty || fromControl('address').touched)
            "
            class="mt-2 text-danger"
          >
            <div *ngIf="fromControl('address').errors?.['required']">
              Address is required
            </div>
          </div>
        </div>
        <div class="mt-3">
          <label for="country">Country</label>
          <input
            formControlName="country"
            type="text"
            class="form-control"
            placeholder="Country"
            id="country"
          />
          <div
            *ngIf="
              fromControl('country').invalid &&
              (fromControl('country').dirty || fromControl('country').touched)
            "
            class="mt-2 text-danger"
          >
            <div *ngIf="fromControl('country').errors?.['required']">
              Country is required
            </div>
          </div>
        </div>
        <div class="mt-3">
          <label for="zipcode">Zip Code</label>
          <input
            formControlName="zipcode"
            type="number"
            class="form-control"
            placeholder="Zip Code"
            id="zipcode"
          />
          <div
            *ngIf="
              fromControl('zipcode').invalid &&
              (fromControl('zipcode').dirty || fromControl('zipcode').touched)
            "
            class="mt-2 text-danger"
          >
            <div *ngIf="fromControl('zipcode').errors?.['required']">
              Zipcode is required
            </div>
          </div>
        </div>
        <div class="mt-3">
          <label for="email">Email</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="Email"
            id="eamil"
          />
          <div
            *ngIf="
              fromControl('email').invalid &&
              (fromControl('email').dirty || fromControl('email').touched)
            "
            class="mt-2 text-danger"
          >
            Email is Not Valid

            <div *ngIf="fromControl('email').errors?.['required']">
              Email is Required
            </div>
          </div>
        </div>


        <div class="mt-3">
          <label style="padding-right: 10px">Gender:</label>
          <div class="form-check form-check-inline">
            <input
              formControlName="gender"
              class="form-check-input"
              type="radio"
              name="gender"
              id="inlineRadio1"
              value="male"
            />
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              formControlName="gender"
              class="form-check-input"
              type="radio"
              name="gender"
              id="inlineRadio2"
              value="female"
            />
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>


        <div class="mt-3">
          <label style="padding-right: 10px">Language:</label>
          <div class="form-check form-check-inline">
            <input
              formControlName="language"
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              English
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              formControlName="language"
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Non English
            </label>
          </div>
        </div>
        <div class="mt-3">
          <label for="about">About</label>
          <input
            formControlName="about"
            type="text"
            class="form-control"
            placeholder="About"
            id="about"
          />
          <div
            *ngIf="
              fromControl('about').invalid &&
              (fromControl('about').dirty || fromControl('about').touched)
            "
            class="mt-2 text-danger"
          >
            <div *ngIf="fromControl('about').errors?.['required']">
              About is required
            </div>
          </div>
        </div>

        <button type="submit" class="mt-2 btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
