<h2 mat-dialog-title>Add New Medicine</h2>

<div mat-dialog-content>

  <form [formGroup]="medicineForm">
    <div class="mt-3">
      <label for="medicine-name" class="form-label">Medicine Name</label>
      <input formControlName="medicine" type="text" id="medicine-name" class="form-control" />
    </div>

    <div class="mt-3">
      <label class="form-label">Generic Name</label>
      <input formControlName="generic" type="text" class="form-control" />
    </div>

    <div class="mt-3">
      <label class="form-label">Category</label>
      <input formControlName="category" type="text" class="form-control" />
    </div>
  </form>

</div>

<div matDialogActions>
  <button class="btn btn-primary" (click)="saveMedicine()">Save Medicine</button>
</div>
